@import "tailwindcss";

/* Leaflet & Custom Marker Styles */
.custom-dest-pin,
.inspect-pin {
  background: transparent !important;
  border: none !important;
}

.leaflet-container {
  font-family: inherit;
  width: 100%;
  height: 100%;
  background-color: #f8fafc;
}

/* Custom scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes ping-slow {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}
